<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kishanmadhwani.seriesguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shows"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NavigationDrawerActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.UnlockActivity" />
        <activity
            android:name=".activity.AddNewShowsActivity"
            android:parentActivityName=".activity.NavigationDrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PopularActivity"
            android:parentActivityName=".activity.AddNewShowsActivity" />
        <activity
            android:name=".activity.PopularMoviesActivity"
            android:parentActivityName=".activity.NavigationDrawerActivity" />
        <activity
            android:name=".activity.DiscMoviesActivity"
            android:parentActivityName=".activity.NavigationDrawerActivity" />
        <activity
            android:name=".activity.DigitalMoviesActivity"
            android:parentActivityName=".activity.NavigationDrawerActivity" />
        <activity android:name=".activity.MovieDetailActivity" />
        <activity android:name=".activity.ShowAllCreditsActivity" />
        <activity android:name=".activity.PersonDetailActivity"></activity>
    </application>

</manifest>