<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kishanmadhwani.seriesguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shows"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationDrawer"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Help" />
        <activity android:name=".Settings" />
        <activity android:name=".Unlock" />
        <activity
            android:name=".AddNewShows"
            android:parentActivityName=".NavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Popular"
            android:parentActivityName=".AddNewShows" />
        <activity
            android:name=".PopularMovies"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".DiscMovies"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".DigitalMovies"
            android:parentActivityName=".NavigationDrawer" />
        <activity android:name=".MovieDetail" />
        <activity android:name=".showAllCredits" />
        <activity android:name=".PersonDetail"></activity>
    </application>

</manifest>